.sprite {
  width: 192px;
  height: 192px;
  margin: 2% auto;
  display: block;
  animation: 0.5s ease-in 0.4s jump;
  margin-bottom: -10px;
}

.progress {
  display: block;
  margin: 100px auto;
  width: 42px;
}

.info {
  animation: 0.3s ease-in 0s fade;
}

.saved {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;

  &-label {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-checkbox {
    margin-top: -2px;
    margin-left: 10px;
  }
}

.summary {
	margin: 3% 10px;
	padding: 14px;
	border: 1px solid black;
	border-radius: 8px;
	font-size: 20px;
	background-color: #fff;
}

@keyframes jump {
    0%   {transform: translate3d(0, 0, 0);}
    25%  {transform: translate3d(0, -6px, 0);}
    50%  {transform: translate3d(0, 0, 0);}
    75%  {transform: translate3d(0, -6px, 0);}
    100% {transform: translate3d(0, 0, 0);}
}

@keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;} 
}